
@media(min-width: 901px) {
    .col {
        width: 25%;
    }
}

@media(min-width: 600px) and (max-width: 900px){
    .col {
        width: 50%;
    }
}

@media(max-width: 600px) {
    .grid-container {
        grid-template-areas:
            'header header header header header header'
            'main main main main  main  main'
            'menu menu menu menu menu menu'
            'footer footer footer footer footer footer';
        grid-template-rows: 50px auto 40px 50px;
    }

    aside ul {
        height: 100%;
        display: flex;
        align-items: center;
    }

}